<div class="container align-items-center flex-column">
<div class="border-start border-secondary p-3 bg-info">
<b><%= @input %></b>
<p>- You</p>
</div>

<br>

<div class="border-start border-secondary p-3 bg-warning">
<b><%= @answer %></b>
<p> - Coach</p>
</div>



<%= link_to "Ask a new question", ask_path %>
</div>
