<div class="container d-flex justify-content-center">
  <form action="/answer" data-turbo="false" class="d-flex flex-column justify-content-center">
    <label for="question" class="form-label">Ask your coach anything:</label>
    <input type="text" id="question" name="question" class="form-control">
    <input type="submit" value="Ask" class='btn btn-primary mt-2'>
  </form>
</div>
